In [70]:
import pandas as pd 
import numpy as np
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')

In [71]:
df = pd.read_csv('spam_ham_dataset.csv')
print(df.head())

  label                                               text  label_num
0   ham  Subject: enron methanol ; meter # : 988291\r\n...          0
1   ham  Subject: hpl nom for january 9 , 2001\r\n( see...          0
2   ham  Subject: neon retreat\r\nho ho ho , we ' re ar...          0
3  spam  Subject: photoshop , windows , office . cheap ...          1
4   ham  Subject: re : indian springs\r\nthis deal is t...          0

In [72]:
df.head()

  label                                               text  label_num
0   ham  Subject: enron methanol ; meter # : 988291\r\n...          0
1   ham  Subject: hpl nom for january 9 , 2001\r\n( see...          0
2   ham  Subject: neon retreat\r\nho ho ho , we ' re ar...          0
3  spam  Subject: photoshop , windows , office . cheap ...          1
4   ham  Subject: re : indian springs\r\nthis deal is t...          0

In [73]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5171 entries, 0 to 5170
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   label      5171 non-null   object
 1   text       5171 non-null   object
 2   label_num  5171 non-null   int64
dtypes: int64(1), object(2)
memory usage: 121.3+ KB

In [74]:
df.describe()

         label_num
count  5171.000000
mean      0.289886
std       0.453753
min       0.000000
25%       0.000000
50%       0.000000
75%       1.000000
max       1.000000

In [75]:
# Natural Language Processung (NLP)
# humans-- Efforts -- communication with machine 
# Ham- not a spam 
# spam-fraud msg

In [76]:
df.drop('label',axis=1,inplace=True)

In [77]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5171 entries, 0 to 5170
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   text       5171 non-null   object
 1   label_num  5171 non-null   int64
dtypes: int64(1), object(1)
memory usage: 80.9+ KB

In [78]:
df.head()

                                                text  label_num
0  Subject: enron methanol ; meter # : 988291\r\n...          0
1  Subject: hpl nom for january 9 , 2001\r\n( see...          0
2  Subject: neon retreat\r\nho ho ho , we ' re ar...          0
3  Subject: photoshop , windows , office . cheap ...          1
4  Subject: re : indian springs\r\nthis deal is t...          0

In [79]:
print(df.iloc[0]['text'])

Subject: enron methanol ; meter # : 988291
this is a follow up to the note i gave you on monday , 4 / 3 / 00 { preliminary
flow data provided by daren } .
please override pop ' s daily volume { presently zero } to reflect daily
activity you can obtain from gas control .
this change is needed asap for economics purposes .

In [80]:
print(df.iloc[3]['text'])

Subject: photoshop , windows , office . cheap . main trending
abasements darer prudently fortuitous undergone
lighthearted charm orinoco taster
railroad affluent pornographic cuvier
irvin parkhouse blameworthy chlorophyll
robed diagrammatic fogarty clears bayda
inconveniencing managing represented smartness hashish
academies shareholders unload badness
danielson pure caffein
spaniard chargeable levin

In [81]:
text=df.iloc[0]['text']

In [82]:
text=text.lower()

In [83]:
import re

In [84]:
text=re.sub(r'\d+','',text)  # removes digits

In [85]:
import string
text=text.translate(str.maketrans('','',string.punctuation)) # removes puncuations (!@#$%^&*())

In [86]:
text

'subject enron methanol  meter   \r\nthis is a follow up to the note i gave you on monday        preliminary\r\nflow data provided by daren  \r\nplease override pop  s daily volume  presently zero  to reflect daily\r\nactivity you can obtain from gas control \r\nthis change is needed asap for economics purposes '

In [87]:
print(text)

subject enron methanol  meter
this is a follow up to the note i gave you on monday        preliminary
flow data provided by daren
please override pop  s daily volume  presently zero  to reflect daily
activity you can obtain from gas control
this change is needed asap for economics purposes

In [88]:
re.sub(r'[!@#$%^&*()]','',text) #remove puncuation (!@#$%^&*((())

'subject enron methanol  meter   \r\nthis is a follow up to the note i gave you on monday        preliminary\r\nflow data provided by daren  \r\nplease override pop  s daily volume  presently zero  to reflect daily\r\nactivity you can obtain from gas control \r\nthis change is needed asap for economics purposes '

In [89]:
import nltk

In [90]:
stemming=nltk.stem.PorterStemmer()
lem=nltk.WordNetLemmatizer()

In [91]:
nltk.download('wordnet')

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\HP\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [92]:
for i in 'An apple a day keeps a doctor away'.split():
    print(stemming.stem(i))
    print(lem.lemmatize(i))
    print('\n ')# Root word

an
An


appl
apple


a
a


day
day


keep
keep


a
a


doctor
doctor


away
away

In [93]:
dummy_text='''Python is a high-level, general-purpose programming language. Its design philosophy emphasizes code readability with the use of significant indentation.[34]

Python is dynamically type-checked and garbage-collected. It supports multiple programming paradigms, including structured (particularly procedural), object-oriented and functional programming.'''
for i in dummy_text.split():
    print('Actual Word:',1)
    print('stemmed:',stemming.stem(i))
    print('Lemmatized:',lem.lemmatize(i))
    print('\n ')# Root word

Actual Word: 1
stemmed: python
Lemmatized: Python


Actual Word: 1
stemmed: is
Lemmatized: is


Actual Word: 1
stemmed: a
Lemmatized: a


Actual Word: 1
stemmed: high-level,
Lemmatized: high-level,


Actual Word: 1
stemmed: general-purpos
Lemmatized: general-purpose


Actual Word: 1
stemmed: program
Lemmatized: programming


Actual Word: 1
stemmed: language.
Lemmatized: language.


Actual Word: 1
stemmed: it
Lemmatized: Its


Actual Word: 1
stemmed: design
Lemmatized: design


Actual Word: 1
stemmed: philosophi
Lemmatized: philosophy


Actual Word: 1
stemmed: emphas
Lemmatized: emphasizes


Actual Word: 1
stemmed: code
Lemmatized: code


Actual Word: 1
stemmed: readabl
Lemmatized: readability


Actual Word: 1
stemmed: with
Lemmatized: with


Actual Word: 1
stemmed: the
Lemmatized: the


Actual Word: 1
stemmed: use
Lemmatized: use


Actual Word: 1
stemmed: of
Lemmatized: of


Actual Word: 1
stemmed: signific
Lemmatized: significant


Actual Word: 1
stemmed: indentation.[34]
Lemmatized: indentation.[34]


Actual Word: 1
stemmed: python
Lemmatized: Python


Actual Word: 1
stemmed: is
Lemmatized: is


Actual Word: 1
stemmed: dynam
Lemmatized: dynamically


Actual Word: 1
stemmed: type-check
Lemmatized: type-checked


Actual Word: 1
stemmed: and
Lemmatized: and


Actual Word: 1
stemmed: garbage-collected.
Lemmatized: garbage-collected.


Actual Word: 1
stemmed: it
Lemmatized: It


Actual Word: 1
stemmed: support
Lemmatized: support


Actual Word: 1
stemmed: multipl
Lemmatized: multiple


Actual Word: 1
stemmed: program
Lemmatized: programming


Actual Word: 1
stemmed: paradigms,
Lemmatized: paradigms,


Actual Word: 1
stemmed: includ
Lemmatized: including


Actual Word: 1
stemmed: structur
Lemmatized: structured


Actual Word: 1
stemmed: (particularli
Lemmatized: (particularly


Actual Word: 1
stemmed: procedural),
Lemmatized: procedural),


Actual Word: 1
stemmed: object-ori
Lemmatized: object-oriented


Actual Word: 1
stemmed: and
Lemmatized: and


Actual Word: 1
stemmed: function
Lemmatized: functional


Actual Word: 1
stemmed: programming.
Lemmatized: programming.

In [94]:
text.split()

['subject',
 'enron',
 'methanol',
 'meter',
 'this',
 'is',
 'a',
 'follow',
 'up',
 'to',
 'the',
 'note',
 'i',
 'gave',
 'you',
 'on',
 'monday',
 'preliminary',
 'flow',
 'data',
 'provided',
 'by',
 'daren',
 'please',
 'override',
 'pop',
 's',
 'daily',
 'volume',
 'presently',
 'zero',
 'to',
 'reflect',
 'daily',
 'activity',
 'you',
 'can',
 'obtain',
 'from',
 'gas',
 'control',
 'this',
 'change',
 'is',
 'needed',
 'asap',
 'for',
 'economics',
 'purposes']

In [95]:
new_text_li=[]
for i in text.split():
    new_text_li.append(stemming.stem(i))

In [96]:
text=''.join(new_text_li[1:])

In [97]:
text

'enronmethanolmeterthiisafollowuptothenoteigaveyouonmondaypreliminariflowdataprovidbydarenpleasoverridpopsdailivolumpresentzerotoreflectdailiactivyoucanobtainfromgacontrolthichangisneedasapforeconompurpos'

In [98]:
text=text.strip()

In [99]:
def clean_text(text):
    text=text.lower()
    text=re.sub(r'\d+','',text)
    text=text.translate(str.maketrans('','',string.punctuation))
    new_text_li=[]
    for i in text.split():
        new_text_li.append(stemming.stem(i))
    text=''.join(new_text_li[1:])
    text=text.strip()
    return text

In [100]:
df['clean text']=df['text'].apply(clean_text)

In [101]:
df

,text,label_num,clean text
0,Subject: enron methanol ; meter # : 988291\r\n...,0,enronmethanolmeterthiisafollowuptothenoteigave...
1,"Subject: hpl nom for january 9 , 2001\r\n( see...",0,hplnomforjanuariseeattachfilehplnolxlhplnolxl
2,"Subject: neon retreat\r\nho ho ho , we ' re ar...",0,neonretreathohohowerearoundtothatmostwondertim...
3,"Subject: photoshop , windows , office . cheap ...",1,photoshopwindowofficcheapmaintrendabasdarerpru...
4,Subject: re : indian springs\r\nthis deal is t...,0,reindianspringthidealistobookthetecopvrrevenui...
...,...,...,...
5166,Subject: put the 10 on the ft\r\nthe transport...,0,puttheontheftthetransportvolumdecreasfromtoall...
5167,Subject: 3 / 4 / 2000 and following noms\r\nhp...,0,andfollownomhplcanttaketheextrammcfdoverthewee...
5168,Subject: calpine daily gas nomination\r\n>\r\n...,0,calpindailiganominjuliasimentionearlierwehopet...
5169,Subject: industrial worksheets for august 2000...,0,industriworksheetforaugustactivattacharethewor...
5170,Subject: important online banking alert\r\ndea...,1,importonlinbankalertdearvalucitizensrbankmembe...

In [102]:
from sklearn.feature_extraction.text import CountVectorizer

In [103]:
cv=CountVectorizer()

In [104]:
dummy_text=['Ron likes apples','Ron likes mangoes','Ron likes apples and mangoes']

In [105]:
counter = cv.fit_transform(dummy_text)

In [106]:
pd.DataFrame(counter.toarray(),columns=cv.get_feature_names_out())

   and  apples  likes  mangoes  ron
0    0       1      1        0    1
1    0       0      1        1    1
2    1       1      1        1    1

In [107]:
from sklearn.feature_extraction.text import TfidfVectorizer
import pandas as pd  # Added import for pandas

Tfidf = TfidfVectorizer()
dummy_text = ['Ron likes apples', 'Ron likes mangoes', 'Ron likes apples and mangoes']
smart_counter = Tfidf.fit_transform(dummy_text)

# Use Tfidf instead of cv to get feature names
pd.DataFrame(smart_counter.toarray(), columns=Tfidf.get_feature_names_out())

        and    apples     likes   mangoes       ron
0  0.000000  0.673255  0.522842  0.000000  0.522842
1  0.000000  0.000000  0.522842  0.673255  0.522842
2  0.591887  0.450145  0.349578  0.450145  0.349578

In [108]:
from sklearn.feature_extraction.text import TfidfVectorizer
import pandas as pd  # Added import for pandas

Tfidf = TfidfVectorizer(stop_words='english')
dummy_text = ['Ron likes apples', 'Ron likes mangoes', 'Ron likes apples and mangoes']
smart_counter = Tfidf.fit_transform(dummy_text)

# Use Tfidf instead of cv to get feature names
pd.DataFrame(smart_counter.toarray(), columns=Tfidf.get_feature_names_out())

     apples     likes   mangoes       ron
0  0.673255  0.522842  0.000000  0.522842
1  0.000000  0.522842  0.673255  0.522842
2  0.558478  0.433708  0.558478  0.433708

In [109]:
Tfidf = TfidfVectorizer(stop_words='english')
tf_df = Tfidf.fit_transform(df['clean text'])
tf_df

<5171x4999 sparse matrix of type '<class 'numpy.float64'>'
	with 5533 stored elements in Compressed Sparse Row format>

In [110]:
X=tf_df
y=df['label_num']
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,stratify=y,random_state=2)

In [113]:
from sklearn.naive_bayes import MultinomialNB
from sklearn.metrics import classification_report

mnb = MultinomialNB()
mnb.fit(X_train, y_train)

# ✅ use X_test, not X_text
y_pred = mnb.predict(X_test)

print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.72      1.00      0.83       735
           1       0.80      0.03      0.05       300

    accuracy                           0.72      1035
   macro avg       0.76      0.51      0.44      1035
weighted avg       0.74      0.72      0.61      1035